python/venv/
venv/
.venv/

# Matlab temp files
*.asv

.idea/ #pycharm files
*.log #ignore all logs

#compiled codes
*.o
*.pyc
*.class
__pycache__/

#hidden system file
.DS_Store
Thumbs.db
.Rproj.user

#file copies 
._*

#large files 
mtspectrogram_monitor

# Sphinx build output
docs/_build/
docs/_autosummary/
